{% extends 'base.html.twig' %}

{% block title %}Page Accueil{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row  accueil-bg ">
            <div class="col-12 fs-5 d-flex mt-5 flex-column align-items-center">
                <div class="box" >
                    <div class="card-body">
                        <p class="card-text ">               
                            Envi de faire un geste pour la planéte ? <br>
                            De trouver votre bonheur au coin de la rue ? <br>
                            De vider vos placards trop plein ? <br><br>
                            Vous êtes au bon endroit... <br>
                            Vendez, donnez ou achetez entre voisins de Saint Pierre de lages ! <br></p>
                    </div>
                </div>
                {# <div class="box p-3 w-50">
                    <p class=" text-accueil ">
                        Envi de faire un geste pour la planéte ? <br>
                        De trouver votre bonheur au coin de la rue ? <br>
                        De vider vos placards trop plein ? <br><br>
                        Vous êtes au bon endroit... <br>
                        Vendez, donnez ou achetez entre voisins de Saint Pierre de lages ! <br>
                    </p>
                </div> #}
                    <a href="{{ path('produits') }}" class="nav-link align-self-center "><button type="btn" class="btn-grad  btn-lg btn fw-bold text-light text-uppercase" >DECOUVRIR</button></a>
            </div>
        </div>
    </div>
{% endblock %}
